# Dependencies
node_modules/
.pnp
.pnp.js
.yarn/install-state.gz

# Python virtualenvs & build
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
backend/dist/
backend/build/
.pytest_cache/

# Next.js build
.next/
out/

# Environment variables
.env*.local

# Testing
coverage/

# Misc & OS
.DS_Store
*.pem.key
*.pem.p12
Thumbs.db
.turbo
*.tsbuildinfo
